{% spaceless %}
<select id="combo">
    {% for d in dependencias %}
        <option value="{{d.id}}">{{d.nombre}}</option>
        {#<option value="Madrid">Madrid</option>#}
   {% endfor %}   
        {#<option value="Real Madrid">{{ s.nombre }}</option>
        <option value="Atlético Madrid">{{ s.nombre }}</option>
        <option value="Betis">{{ s.nombre }}</option>
        <option value="Villareal">Villareal</option>
        <option value="Real Sociedad">Real Sociedad</option>#}
   
</select>        
{% endspaceless %}
