{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SifdaSolicitudServicio list</h1>
    <h2>Otra prueba commit en el repositorio de Sifda</h2>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Fecharecepcion</th>
                <th>Fecharequiere</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sifda_solicitudservicio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fechaRecepcion %}{{ entity.fechaRecepcion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaRequiere %}{{ entity.fechaRequiere|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sifda_solicitudservicio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sifda_solicitudservicio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sifda_solicitudservicio_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
