{% extends 'MinsalsifdaBundle::layoutTecnico.html.twig' %}

{% block contenido_in -%}
    {{form_start(edit_form)}}
    {{form_errors(edit_form)}}
    <div class="row-fluid">
        <center><h3>Edicion Orden de Trabajo</h3></center>
        <div class="span12">
            <div class="row-fluid">
                <div class="span4 offset2">
                    
                    {{form_row(edit_form.descripcion)}}
                    {{form_row(edit_form.fechaCreacion)}}
                    {{form_row(edit_form.fechaFinalizacion)}}
                    {{form_row(edit_form.observacion)}}
                    
                    
                </div>                   
                <div class="span5 offset1">
                    {{form_row(edit_form.codigo)}}
                    {{form_row(edit_form.idPrioridad)}}
                    {{form_row(edit_form.idEstado)}}
                    {{form_row(edit_form.idDependenciaEstablecimiento)}}
                    {{form_row(edit_form.idEtapa)}}
                    
                    
                </div>
            </div>           
          
            
        <center>
            
            <table id="botones">
                <tr>
                    <td>{{form_row(edit_form.submit,{'attr':{'class':'btn'}})}}</td>
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td>
                    <td><a href="{{ path('sifda_ordentrabajo')}}" class="btn">Regresar</a></td>
                </tr>  
            </table>            
        </center>
            
      </div> 
   </div>                    
                    
  {{form_end(edit_form)}}                  
{% endblock %}
